

/* Contact US Section  */
.contact h1{
  padding-top: 40px;
}
.contact .row {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
  }
  
  .contact .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 0.5rem;
  }
  .contact .row .image {
    flex: 1 1 40rem;
  }
  .contact .row .image img {
    width: 100%;
    box-shadow: 0 0.5rem 1.5rem rgba(217, 25, 25, 0.403);
  }
  .contact .row form .inputBox {
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    width: 96%;
  }
  .contact .row form .inputBox:focus {
    border-color: var(--primary);
  }
  .contact .row form textarea {
    height: 15rem;
    resize: none;
  }
  
  .form .icons a {
    font-size: 2.5rem;
    color: var(--secondary);
    margin-left: 1.5rem;
  }
  
  .form .icons a:hover {
    color: var(--primary);
  }
  
  /* End of Contact US */
  