/* Footer container styling. grid for better responsiveness */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    padding-left: 1rem;
    background-color: #26262661;
}

.footer .box-container .box h3 {
    padding: 1rem 0;
    font-size: 1.3rem;
    color: #e3e3e3;
    text-align: center;
}

/* design for all links */
.footer .box-container .box a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    text-align: center;

}

/* hover effect on links */
.footer .box-container .box a:hover {
    color: #ff004f;
    text-decoration: underline;
}

@media(max-width: 450px) {
    .footer .box-container .box a {
        width: 100%;
        font-size: 1rem;
    }
}

.copyright p a{
    color: #ff004f;
    text-decoration: none;
    text-transform: uppercase;
}
