
/* footer Section  */
.footer{
  background: #1c1e24;
}

.footer .boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

  }
  
  .footer .boxContainer .box {
    flex: 1 1 25rem;
  }
  
  .footer .boxContainer .box h3 {
    color: #f1f1f1b4;
    font-size: 2.2rem;
    padding: 0.8rem 0;
  }
  
  .footer .boxContainer .box a {
    display: block;
    color: #ccc;
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  
  .footer .boxContainer .box a:hover {
    color: var(--primary);
    text-decoration: underline;
  }
  
  .footer .boxContainer .box img {
    margin-top: 1rem;
  }
  .footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 1.4rem;
    color: #d1d1d1b6;
    border-top: 0.2rem solid rgba(237, 237, 237, 0.5);
  }
  
  .footer .credit span a {
    color: var(--secondary);
  }
  

  /* End of Footer CSS */
  